Repository kwkraus/fleet-assistant-multi-agent-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kwkraus, @ckriutz, @TeplrGuy

Add review request message for test code in chat endpoint
  testing/test-chat-endpoint.js
Owners: @TeplrGuy

Add a review note for Casey in the project plan
  src/frontend/plan.md
Owners: @ckriutz

Add PowerShell scripts for feature implementation and agent context updates
  fleet-assistant/.github/prompts/speckit.analyze.prompt.md
  fleet-assistant/.github/prompts/speckit.checklist.prompt.md
  fleet-assistant/.github/prompts/speckit.clarify.prompt.md
  fleet-assistant/.github/prompts/speckit.constitution.prompt.md
  fleet-assistant/.github/prompts/speckit.implement.prompt.md
  fleet-assistant/.github/prompts/speckit.plan.prompt.md
  fleet-assistant/.github/prompts/speckit.specify.prompt.md
  fleet-assistant/.github/prompts/speckit.tasks.prompt.md
  fleet-assistant/.specify/memory/constitution.md
  fleet-assistant/.specify/scripts/powershell/check-prerequisites.ps1
  fleet-assistant/.specify/scripts/powershell/common.ps1
  fleet-assistant/.specify/scripts/powershell/create-new-feature.ps1
  fleet-assistant/.specify/scripts/powershell/setup-plan.ps1
  fleet-assistant/.specify/scripts/powershell/update-agent-context.ps1
  fleet-assistant/.specify/templates/agent-file-template.md
  fleet-assistant/.specify/templates/checklist-template.md
  fleet-assistant/.specify/templates/plan-template.md
  fleet-assistant/.specify/templates/spec-template.md
  fleet-assistant/.specify/templates/tasks-template.md
Owners: none

feat: Add PowerShell script to update agent context files and templates
  .github/agents/speckit.analyze.agent.md
  .github/agents/speckit.checklist.agent.md
  .github/agents/speckit.clarify.agent.md
  .github/agents/speckit.constitution.agent.md
  .github/agents/speckit.implement.agent.md
  .github/agents/speckit.plan.agent.md
  .github/agents/speckit.specify.agent.md
  .github/agents/speckit.tasks.agent.md
  .github/agents/speckit.taskstoissues.agent.md
  .github/copilot-instructions.md
  .github/prompts/prompts.prompt.md
  .github/prompts/speckit.analyze.prompt.md
  .github/prompts/speckit.checklist.prompt.md
  .github/prompts/speckit.clarify.prompt.md
  .github/prompts/speckit.constitution.prompt.md
  .github/prompts/speckit.implement.prompt.md
  .github/prompts/speckit.plan.prompt.md
  .github/prompts/speckit.specify.prompt.md
  .github/prompts/speckit.tasks.prompt.md
  .github/prompts/speckit.taskstoissues.prompt.md
  .specify/memory/constitution.md
  .specify/scripts/powershell/check-prerequisites.ps1
  .specify/scripts/powershell/common.ps1
  .specify/scripts/powershell/create-new-feature.ps1
  .specify/scripts/powershell/setup-plan.ps1
  .specify/scripts/powershell/update-agent-context.ps1
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  fleet-assistant/.github/prompts/speckit.implement.prompt.md
  fleet-assistant/.github/prompts/speckit.tasks.prompt.md
  fleet-assistant/.specify/memory/constitution.md
  fleet-assistant/.specify/scripts/powershell/create-new-feature.ps1
Owners: @kwkraus

fix: Adjust position of message action buttons for assistant messages
  src/frontend/ai-chatbot/src/components/chat/ChatMessage.tsx
Owners: @ckriutz

Enhance README with application image
  README.md
Owners: none

Add Infra-Expert agent documentation with detailed responsibilities and mission
  .github/agents/Infra-Expert.agent.md
Owners: @kwkraus

Update tools list in Infra-Expert agent documentation to include Azure resource groups
  .github/agents/Infra-Expert.agent.md
Owners: @kwkraus

Add Azure DevOps MCP setup and authentication workflow for Copilot agent
  .github/agents/Infra-Expert.agent.md
  .github/copilot-instructions.md
  .github/workflows/copilot-setup-steps.yml
  docs/COPILOT_MCP_AZURE_DEVOPS.md
Owners: @kwkraus

Add Cloud Platform Engineer agent documentation with detailed responsibilities and mission
  .github/agents/Cloud-Plat-Engineer.md
  .github/agents/Infra-Expert.agent.md
Owners: @kwkraus

.github/CODEOWNERS:

/docs/ @kwkraus
/src/backend/ @kwkraus
/src/frontend/ @ckriutz
/.github/ @kwkraus
/testing/ @TeplrGuy
